header {
    background: darkred;
    color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 5%;
}

header h1 {
    margin: 0;
    padding: 0;
}

header nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    gap: 10%;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}